src/main/resources/de/chris/apps/bose/now_playing.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nowPlaying">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ContentItem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="itemName" minOccurs="0"/>
                            <xs:element type="xs:string" name="containerArt" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="source"/>
                        <xs:attribute type="xs:string" name="type"/>
                        <xs:attribute type="xs:string" name="location"/>
                        <xs:attribute type="xs:string" name="sourceAccount"/>
                        <xs:attribute type="xs:string" name="isPresetable"/>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="track" minOccurs="0"/>
                <xs:element type="xs:string" name="artist" minOccurs="0"/>
                <xs:element type="xs:string" name="album" minOccurs="0"/>
                <xs:element type="xs:string" name="stationName" minOccurs="0"/>
                <xs:element name="art" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:anyURI">
                                <xs:attribute type="xs:string" name="artImageStatus"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="time" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:byte">
                                <xs:attribute type="xs:short" name="total"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="skipEnabled" minOccurs="0"/>
                <xs:element type="xs:string" name="favoriteEnabled" minOccurs="0"/>
                <xs:element type="xs:string" name="playStatus" minOccurs="0"/>
                <xs:element type="xs:string" name="shuffleSetting" minOccurs="0"/>
                <xs:element type="xs:string" name="repeatSetting" minOccurs="0"/>
                <xs:element type="xs:string" name="skipPreviousEnabled" minOccurs="0"/>
                <xs:element type="xs:string" name="streamType" minOccurs="0"/>
                <xs:element type="xs:string" name="trackID" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="deviceID"/>
            <xs:attribute type="xs:string" name="source"/>
            <xs:attribute type="xs:string" name="sourceAccount"/>
        </xs:complexType>
    </xs:element>
</xs:schema>